# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#front-end
front-end-code/node_modules
node_modules
.DS_Store
front-end/front-end-code/test-results/
front-end/front-end-code/playwright-report/

#back-end
back-end/target/


